# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
.build/
DerivedData/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# SPM
.swiftpm/

# Secrets (ne jamais committer)
*.env
Secrets.swift
